<header>
    <h1 class="responsive-heading">Bita Ghaffari's Beaming Goat || ITIS 3135</h1>
    <nav>
        <a href="./">Home</a> ||
        <a href="introduction.html"> Introduction</a> ||
        <a href="contract.html"> Contract</a> ||
        <a href="https://webpages.charlotte.edu/bghaffar/itis3135/stuff/AwFuL%20WeB&SiTe%20123.HTML"> Crappy Website</a> ||
        <a href="https://webpages.charlotte.edu/bghaffar/itis3135/hobby/"> Hobby Page</a> ||
        <a href="https://webpages.charlotte.edu/bghaffar/itis3135/tables.html"> Tables Activity</a> ||
        <a href="https://webpages.charlotte.edu/bghaffar/itis3135/byo_intro.html"> BYO Intro</a>
    </nav>
    <script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>
</header>
